<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ma.framework.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WebActivity" />

        <!-- 声明这是一个插件 -->
        <!-- 作者 -->
        <meta-data
            android:name="ma_plgin_author"
            android:value="GreyWolf" />
        <!-- 简介 -->
        <meta-data
            android:name="ma_plgin_desc"
            android:value="测试框架" />

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MsgProcessingService"
            android:enabled="true"
            android:exported="true">
            <!--这个很重要,确保主程序可以唤醒该插件-->
            <intent-filter>
                <action android:name="com.ma.pluginframework.WAKEUP" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>

</manifest>